<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WP_RunTimeDynamicModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3269D8EC1C903B0400607204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3269D9051C903B0500607204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3269D9101C903B0500607204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
